.banner h1{
  font-size: 50px;
}

.banner h2{
  font-size: 30px;
  font-weight: lighter;
  opacity: 0,8;
  margin-bottom: 40px;
}

.banner h3{
   font-size: 50px;
   font-weight: bolder;
   opacity: 0,8;
  margin-bottom: 40px;
}

.banner h4{
   font-size: 50px;
   font-weight: bolder;
   opacity: 0,8;
  margin-bottom: 40px;
}


.banner {
  /* 1. Set a background image */
  background-image: url(../../images/background.jpg);
  /* 2. Make the background image cover the banner div */
  background-size: cover;
  /* 3. Center the image */
  background-position: center;
  color: white;
  padding:  150px 0px;
}


.banner-with-flat-filter {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../..images/background.jpg);
}
